@model List<TblBlog>

<a href="Blog/Create" class="btn btn-primary">Create Blog</a>

@{
    bool isShowMessage = TempData["IsSuccess"] != null && TempData["Message"] != null;
    bool isSuccess = false;
    string message = string.Empty;
    isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    message = Convert.ToString(TempData["Message"]);
}

<table class=" table table-responsive">
    <thead>
        <tr>
            <th>No.</th>
            <th>Blog Title</th>
            <th>Blog Content</th>
            <th>Blog Author</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].BlogTitle</td>
                <td>@Model[i].BlogContent</td>
                <td>@Model[i].BlogAuthor</td>
            </tr>
        }
    </tbody>
    @* 
        50Min 
        1:13Min
    *@
</table>